
<div layout="column" flex>
    <md-toolbar layout="row" class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="hmCtrl.toggleNav('left')">
                <ng-md-icon icon="menu" style="fill: white" size="24"></ng-md-icon>
            </md-button>
            <h3 class="md-display-3">
                ix Service
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite">
                <ng-md-icon icon="notifications" style="fill: white" size="24"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <ng-md-icon icon="message" style="fill: white" size="24"></ng-md-icon>
            </md-button>
        </div>

        <!--
        <section layout-align="start center" layout-fill flex>
            <h1 hide-xs> ix </h1>
        </section>
        <section layout-align="start center" layout-fill flex>
            <md-button hide-gt-sm ng-click="vm.toggleItemsList()" aria-label="Menu">
                <i class="material-icons">menu</i>
            </md-button>
        </section>
        <section layout-align="end center">
            <md-button class="toolbar-button" aria-label="Search">
                <i class="material-icons">search</i>
            </md-button>
            <md-button class="toolbar-button" aria-label="Notifications">
                <i class="material-icons">notifications</i>
                <span class="notifications-label">7</span>
            </md-button>
            <md-button class="toolbar-button" aria-label="Settings" ng-click="vm.toggleRightSidebar()">
                <i class="material-icons">menu</i>
            </md-button>
        </section>
        -->
    </md-toolbar>

    <section layout="row" flex>
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
                    class="md-whiteframe-z2 md-sidenav-left">
            <md-button ng-repeat="item in hmCtrl.menuItems" layout="column" layout-align="center center"
                       flex  ng-click="hmCtrl.selectItem(item)"
                       ui-sref-active="md-accent" ui-sref="{{item.sref}}">
                <ng-md-icon icon="{{item.icon}}" style="fill: black" size="24"></ng-md-icon>{{item.name}}
            </md-button>
        </md-sidenav>
        <md-content flex class="md-padding page-content">
            <div ui-view></div>
        </md-content>
    </section>
</div>

<md-sidenav md-component-id="right"
            class="md-whiteframe-z2 md-sidenav-right">
    <md-toolbar>
        <md-toolbar class="md-warn" layout="row" layout-align="center center">
            <img class="img-circle" ng-src="assets/images/feynman.jpg">
            <md-menu md-offset="0 20">
                <md-button class="capitalize" ng-click="$mdOpenMenu()" aria-label="Open menu">
                    <span>Richard Feynman</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item><md-button ng-click="$mdCloseMenu()" ui-sref="home.profile">Profile</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="$mdCloseMenu()" ui-sref="home.dashboard">Log out</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-toolbar>
    </md-toolbar>

    <section>
        <md-toolbar md-theme="grey" class="md-hue-1">
            <div class="md-toolbar-tools">
                <h3>Messages</h3>
            </div>
        </md-toolbar>
        <!--<div ng-include src="'app/views/partials/messages.html'"/>-->
    </section>
</md-sidenav>